    * {
        box-sizing: border-box;
    }
    
    body {
        padding: 0;
        margin: 0;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        line-height: 22px;
        font-size: 16px;
    }
    /* container */
    
    .container {
        max-width: 1240px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .site-header {
        background-color: #F6F6F6;
    }
    
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .kurs,
    .info,
    .kirish,
    .lang {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .site-logo {
        background-color: #fff;
        color: #7296EE;
        padding-top: 9px;
        padding-bottom: 8px;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 7px;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        font-size: 24px;
    }
    
    .site-logo:hover {
        opacity: 0.8;
    }
    
    .site-logo:active {
        opacity: 0.6;
    }
    
    .dollar {
        margin-left: 35px;
        font-size: 16px;
        font-weight: 400;
    }
    
    span {
        color: #2959CE;
        font-weight: 700;
    }
    
    .ruble {
        margin-left: 25px;
        font-size: 16px;
        font-weight: 400;
    }
    
    .search-bar {
        border-radius: 60px;
        width: 275px;
        height: 45px;
        border: none;
        text-decoration: none;
        background: url('../images/Mask.png');
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 31px;
        background-color: #fff;
    }
    
    .login {
        background-color: #7296EC;
        border-radius: 10px;
        margin-left: 25px;
        padding: 13px 20px;
    }
    
    .login:hover {
        opacity: 0.8;
    }
    
    .login:active {
        opacity: 0.6;
    }
    
    .login a {
        color: #fff;
        font-weight: 500;
        text-decoration: none;
    }
    
    .lang {
        display: flex;
        padding: 3px;
        margin-right: 25px;
        margin-left: 25px;
        border-radius: 39px;
        font-size: 13px;
        background-color: #dce6ff;
    }
    
    .lang-toggle-link {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 13px;
        line-height: 30px;
        color: #a6a6a6;
        text-align: center;
        text-decoration: none;
    }
    
    .lang-toggle-link-active {
        background-color: #fff;
        color: #000;
    }
    
    .main-nav {
        font-weight: 500;
        font-size: 18px;
        color: #7F7F7F;
    }
    
    .main-nav-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .main-nav-items:first-child {
        padding-left: 6px;
    }
    
    .main-nav-item {
        list-style-type: none;
        font-size: 18px;
        font-weight: 500;
    }
    
    .main-nav-item a {
        color: #7F7F7F;
        text-decoration: none;
    }
    
    .top-ad {
        padding: 0;
    }
    
    .news-section-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
    }
    
    .news-item {
        list-style-type: none;
        background-color: #F6F6F6;
        border-radius: 15px;
        height: 382px;
        margin-left: 0;
        margin-right: 0;
        padding: 20px 17px 15px;
        margin-bottom: 10px;
        width: 392px;
    }
    
    .news-title {
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #000;
        height: 78px;
    }
    
    .news-text {
        margin-bottom: 15px;
        line-height: 22px;
        /* height: 44px; */
    }
    
    .baidu {
        padding-right: 30px;
        display: block;
    }
    
    .news-footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .news-footer p {
        margin-left: 10px;
    }
    
    .notification-link-section {
        background: url('../images/back-img.png');
        width: 1050px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .link-title {
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 29px;
        width: 404px;
        font-size: 20px;
        font-weight: 500;
    }
    
    .notification-link {
        text-decoration: none;
        margin-top: 38px;
        margin-bottom: 38px;
        margin-right: 101px;
        padding: 13px 30px;
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        background-color: #F78B3B;
        border-radius: 10px;
        line-height: 24px;
    }
    
    .world {
        display: flex;
        justify-content: space-between;
    }
    
    .world-news-list {
        padding: 0;
    }
    
    .world-section-title {
        color: #000;
        font-weight: 500;
        font-size: 24px;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    
    .world-news-item {
        width: 797px;
        height: 205px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #F6F6F6;
        border-radius: 15px;
        margin-bottom: 10px;
        padding: 20px;
    }
    
    .world-news-item img {
        margin-right: 15px;
    }
    
    .world-news-title {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 20px;
        padding-top: 20px;
        padding-right: 20px;
        display: block;
    }
    
    .main-news-list {
        width: 393px;
    }
    
    .main-section-content {
        background-color: #F6F6F6;
        border-radius: 15px;
        padding-left: 17px;
        padding-right: 17px;
        margin-bottom: 25px;
    }
    
    .main-title {
        padding-top: 20px;
        padding-left: 17px;
    }
    
    .main-link {
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        color: #000;
    }
    
    .ad {
        width: 393px;
    }
    
    .news-footer {
        color: #5E5F61;
    }
    
    .more-news {
        width: 796px;
        background-color: #EAEAEA;
        font-weight: 500;
        border-radius: 10px;
        text-decoration: none;
        color: #000;
        padding: 17px 343px;
    }
    
    .site-footer {
        background-color: #7297EF;
        margin-top: 100px;
        padding: 40px 221px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .flex-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .description-text {
        color: #fff;
        margin-top: 15px;
        width: 229px;
        font-size: 12px;
    }
    
    .nav-footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 75px;
        font-weight: 500;
        margin-top: 83px;
    }
    
    .nav-footer-item {
        list-style-type: none;
    }
    
    .nav-footer-link {
        text-decoration: none;
        color: #fff;
    }
    
    .nav-footer-item:not(:last-child) {
        margin-bottom: 20px;
    }
    
    .nav-footer-list {
        margin-bottom: 30px;
    }
    
    .socials-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .socials-list {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    
    .socials-title {
        width: 161px;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        margin-top: 20px;
    }
    
    .socials-item {
        list-style: none;
        margin-left: 25px;
    }