/* GLOBAL */

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: 2px solid #ff1b36;
    outline-offset: 4px;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
}


/* CONTAINER */

.top-ad-list {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 1200px;
    height: 128px;
}


/* Main section */

.main-content {
    flex-grow: 1;
}

.world {
    display: flex;
    justify-content: space-between;
}

.world-news-list {
    padding: 0;
}

.world-section-title {
    color: #000;
    font-weight: 500;
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.world-news-item {
    width: 797px;
    height: 205px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 20px;
    margin-top: 10px;
}

.world-news-item img {
    margin-right: 15px;
}

.world-news-title {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 20px;
    display: block;
}

.news-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.news-footer p {
    margin-left: 10px;
}

.more-news {
    width: 796px;
    background-color: #EAEAEA;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    padding: 17px 343px;
}

.more-news:hover {
    opacity: 0.8;
}

.more-news:active {
    opacity: 0.6;
}

.main-news-list {
    width: 393px;
}

.main-section-content {
    background-color: #F6F6F6;
    border-radius: 15px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 25px;
}

.main-title {
    padding-top: 20px;
    padding-left: 17px;
}

.main-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.bottom-ad {
    margin-top: 10px;
}