/* GLOBAL */

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: 2px solid #ff1b36;
    outline-offset: 4px;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
}

.main-sections {
    display: flex;
    justify-content: flex-start;
}

.article-roof {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.roof-text {
    margin-left: 10px;
}

.main-article {
    width: 797px;
    margin: 0;
}

.main-article p {
    margin-bottom: 24px;
    line-height: 30px;
    font-size: 20px;
}

.article-title {
    margin: 0;
    margin-top: 36px;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
}

.article-img {
    margin-top: 20px;
    margin-bottom: 25px;
}

.main {
    margin: 0;
    margin-left: 10px;
}

.main-news-list {
    width: 393px;
}

.main-section-content {
    background-color: #F6F6F6;
    border-radius: 15px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 25px;
}

.main-title {
    padding-top: 20px;
}

.main-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.ad {
    width: 393px;
    height: 338px;
    margin-left: 10px;
}

.bottom-hr {
    width: 780px;
    color: #D2D2D2;
    margin-top: 50px;
    margin-bottom: 60px;
}

.interests {
    margin-top: 60px;
}

.interest-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 20px;
}

.inter-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inter-item {
    list-style: none;
    background-color: #F6F6F6;
    width: 393px;
    border-radius: 15px;
    padding: 20px 18px 15px 17px;
}

.inter-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.inter-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #4A4B4C;
}

.inter-item:last-child h3 {
    height: 78px;
}

.inter-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inter-footer-img {
    width: 20px;
    height: 20px;
}

.inter-footer-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #5E5F61;
    margin-left: 10px;
}